services:
  setbfree:
    build:
      context: ./docker/setbfree
    network_mode: host
    user: "${USER_ID}:${GROUP_ID}"
    group_add:
      - "${AUDIO_GID}"
      - "${VIDEO_GID}"
    environment:
      DISPLAY: "${DISPLAY}"
      XAUTHORITY: /tmp/.Xauthority
      XDG_RUNTIME_DIR: /run/user/${USER_ID}
      HOME: /tmp
      PIPEWIRE_LATENCY: "${PIPEWIRE_LATENCY:-64/48000}"
      QT_X11_NO_MITSHM: "1"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - ${XAUTHORITY:-$HOME/.Xauthority}:/tmp/.Xauthority:ro
      - /run/user/${USER_ID}:/run/user/${USER_ID}
    devices:
      - /dev/snd:/dev/snd
      - /dev/dri:/dev/dri
    ulimits:
      memlock: -1
      rtprio: 95
    restart: "no"

  ui-automation:
    build:
      context: ./docker/ui-automation
    network_mode: host
    user: "${USER_ID}:${GROUP_ID}"
    environment:
      DISPLAY: "${DISPLAY}"
      XAUTHORITY: /tmp/.Xauthority
      SETBFREE_WINDOW_NAME: "${SETBFREE_WINDOW_NAME:-setBfree}"
      SETBFREE_FULLSCREEN: "${SETBFREE_FULLSCREEN:-1}"
      SETBFREE_FULLSCREEN_KEY: "${SETBFREE_FULLSCREEN_KEY:-Super+f}"
      SETBFREE_AUTOMATION_RETRIES: "${SETBFREE_AUTOMATION_RETRIES:-50}"
      SETBFREE_AUTOMATION_INTERVAL: "${SETBFREE_AUTOMATION_INTERVAL:-0.2}"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - ${XAUTHORITY:-$HOME/.Xauthority}:/tmp/.Xauthority:ro
    depends_on:
      - setbfree
    restart: "no"

  midi-hotplug:
    build:
      context: ./docker/midi-hotplug
    network_mode: host
    user: "${USER_ID}:${GROUP_ID}"
    group_add:
      - "${AUDIO_GID}"
    environment:
      XDG_RUNTIME_DIR: /run/user/${USER_ID}
      HOME: /tmp
      PIPEWIRE_LATENCY: "${PIPEWIRE_LATENCY:-64/48000}"
      SETBFREE_MATCH: "${SETBFREE_MATCH:-setBfree}"
      MIDI_CLIENT_EXCLUDE: "${MIDI_CLIENT_EXCLUDE:-System,Midi Through}"
    volumes:
      - /run/user/${USER_ID}:/run/user/${USER_ID}
    devices:
      - /dev/snd:/dev/snd
    ulimits:
      memlock: -1
      rtprio: 95
    restart: "no"
